<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог Товаров</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td></td>
    </tr>
        <tr th:each="product : ${products}">
    <td th:text="${product.title}">Футер синий</td>
    <td th:text="${product.price}">1 000 рублей</td>
    <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER', 'CLIENT')"> <a th:href="@{/products/{id}/basket(id=${product.id})}">Добавить товара в корзину</a></td>
    </tr>
</table>

</body>
</html>